name: Flutter Release Build & Deploy
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'
jobs:
  build_windows:
    name: Build for Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter config --enable-windows-desktop
      - run: flutter build windows --release
      - name: Archive Windows release
        run: Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath fetch_flow-windows-x64-release.zip
      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-x64-release
          path: windows-x64-release.zip
  create_release:
    name: Create GitHub Release
    needs: [build_windows]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
      - name: Create Release and Upload Artifacts
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            windows-x64-release/windows-x64-release.zip
            macos-release/ai_data_management-macOS.zip
            linux-x64-release/linux-x64-release.zip
            